<template>
  <div style="height: 600px;width:100%;">
    <l-map ref="mapRef" :zoom="zoom" :center="center" style="height: 600px;width:100%">
      <l-tile-layer :url="url"></l-tile-layer>
      <div v-if="state">
        <l-marker
          :icon="item.icon"
          v-for="item in state.items"
          :key="item.objectID"
          :lat-lng="item._geoloc"
        >
          <l-popup
            :content="item.title"
            :options="{
                autoClose: false
              }"
          ></l-popup>
        </l-marker>
        <l-marker :lat-lng="markerPos"></l-marker>
      </div>
    </l-map>
  </div>
</template>
<script>
import L from 'leaflet';
import { LMap, LMarker, LTileLayer, LPopup } from 'vue2-leaflet';
import { createWidgetMixin } from 'vue-instantsearch';
import { connectGeoSearch } from 'instantsearch.js/es/connectors';

import 'leaflet/dist/leaflet.css';
import 'instantsearch.css/themes/algolia.css';

const centerMapDefault = [51.286896, -0.752615];

export default {
  mixins: [createWidgetMixin({ connector: connectGeoSearch })],
  name: 'MjMap',
  components: {
    LMap,
    LMarker,
    LTileLayer,
    LPopup,
  },
  data() {
    return {
      zoom: 9,
      url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      markerPos: [51.286896, -0.752615],//initial position
    };
  },
  computed: {
    center() {
      return this.state && this.state.items.length
        ? this.state.items[0]._geoloc
        : centerMapDefault;
    },
  },
  mounted() {
    // Accessing leaflet API methods according to
    // @link https://korigan.github.io/Vue2Leaflet/#/quickstart?id=accessing-leaflet-api

    this.$nextTick(() => {
      if (typeof this.$refs.mapRef !== 'undefined') {
        this.map = this.$refs.mapRef.mapObject;
        this.map.zoomControl.remove();
        this.recenterMap(centerMapDefault);
      }
    });

    // state is null
    // for (let item of this.state.items) {
    //  item.icon = this.defaultIcon;
    // }
  },
};
</script>