<template>
    <div>
		<list-header
			bgColor="bg-orange-4"
			>Test Collection</list-header>

		<q-list 
			separator
			bordered>

			<div
				:key="item.key" 
                :id="key"
                v-for="item in testCollection"
                >
            {{ item }}
            </div>

		</q-list>
	</div>
</template>
<script>

export default {
    props: ['testCollection'],
    components: {

			'list-header' : require('components/Shared/ListHeader.vue').default,
	}
}
</script>