<template>
    <div>
		<list-header
			bgColor="bg-orange-4"
			>Test Object
        </list-header>


			<div>
                {{ testObject.data }}
                <br>
                {{ testObject.id }}
            </div>


	</div>
</template>
<script>

export default {
    props: ['testObject'],
    components: {

			'list-header' : require('components/Shared/ListHeader.vue').default,
	}
}
</script>