<template>
  <q-page class="q-pa-md">
	<div class="q-pa-md q-gutter-sm">
        <q-breadcrumbs>
          <q-breadcrumbs-el icon="home" to="/" />
          <q-breadcrumbs-el label="Tasks" icon="navigation" />
        </q-breadcrumbs>
    </div>
		<no-tasks
			v-if="!Object.keys(tasksFromState).length"></no-tasks>

		<tasks-todo
			v-else
			:tasksTodo="tasksFromState" />

		<tasks-completed 
			v-if="Object.keys(tasksCompleted).length"
			:tasksCompleted="tasksCompleted" />

		<div class="absolute-bottom text-center q-mb-lg">
			<q-btn
				@click="showAddTask = true"
			  round
			  color="primary"
			  size="24px"
			  icon="add"
			/>
		</div>

		<q-dialog v-model="showAddTask">
		  <add-task @close="showAddTask = false" />
		</q-dialog>

		
  </q-page>
</template>

<script>
	import { mapGetters, mapActions } from 'vuex'

	export default {
		data() {
			return {
				showAddTask: false
			}
		},
		computed: {
			...mapGetters('store', [ 'tasksCompleted',  'tasksFromState'])
		},
		methods: {
			...mapActions('store', ['firebaseGetTasks'])
		},
		mounted() {
			this.$root.$on('showAddTask', () => {
				this.showAddTask = true
			})
			,
			this.firebaseGetTasks()
		},
		components: {
			'add-task' : require('components/Tasks/Modals/AddTask.vue').default,
			'tasks-todo' : require('components/Tasks/TasksTodo.vue').default,
			'tasks-completed' : require('components/Tasks/TasksCompleted.vue').default,
			'no-tasks' : require('components/Tasks/NoTasks.vue').default
		}
	}
</script>

<style>
	
</style>