<template>
    <q-page class="flex q-pa-md">
        <header class="header">
            <q-item>
                <q-item-label>
                    <gmap-autocomplete
                    @place_changed="setPlace">
                    </gmap-autocomplete>
                    <button @click="addMarker">Find Place</button>
                </q-item-label>
            </q-item>
        </header>
        <q-card class="full-width">
        <div class="row">
            <div class="col">
                <q-form
                    @submit="onSubmit"
                    @reset="onReset"
                    class="q-gutter-md"
                    >
                    <div class="text-purple q-gutter-md" style="font-size: 2em">
                    <q-input
                        filled
                        label="Your address *"
                        hint="enter your address"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Please type something']"
                        v-model="address"
                        ref="autocomplete"
                    />
                    
                        <q-icon name="warning" @click="locatorButtonPressed"/>
                    </div>
                    <i class="dot circle link icon" @click="locatorButtonPressed"></i>
                </q-form>
            </div>
        </div>
        </q-card>
        <q-layout
        container
        class="shadow-2 rounded-borders"
        style="height: 600px"
        >
        <gmap-map
            :center="center"
            :zoom="12"
            style="width:100%;  height: 400px;"
            >
             <gmap-marker
                :key="index"
                v-for="(m, index) in $store.state.store.mapmarkers"
                :position="m.position"
                @click="center=m.position"
                
            ></gmap-marker>

        </gmap-map> 

    </q-layout>
    </q-page>
</template>
<script>
import axios from 'axios'
import { mapState, mapActions, mapGetters } from 'vuex'

export default {
    name: "GoogleMap",
    markers: [],
    data() {
        markers: []
    return {
        center: { lat: 51.28304, lng: -0.74468 },
        markers: [{
        position: {
        lat: 51.28304,
        lng: -0.74468
        }
    }],
        currentPlace: null,
        places: [],
        address: "",
    };
    },
    computed: {
        ...mapGetters('store', ['getmapmarkers'])
    },
    mounted(){
        new google.maps.places.Autocomplete(
        this.$refs["autocomplete"]
    );
    },
    methods: {
    setPlace(place) {
      this.currentPlace = place;
    },
    onSubmit(){

    },
    onReset(){

    },
    addMarker() {
      if (this.currentPlace) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng()
        };
        this.markers.push({ position: marker });
        this.places.push(this.currentPlace);
        this.center = marker;
        this.currentPlace = null;
      }
    },
    locatorButtonPressed() {
    navigator.geolocation.getCurrentPosition(
        position => {
            this.getStreetAddressFrom(position.coords.latitude, position.coords.longitude);
            console.log(position.coords.latitude);
            console.log(position.coords.longitude);
        },
        error => {
            console.log(error.message);
        },
    )
    },
    async getStreetAddressFrom(lat, long) {
    try {
        var {
            data
            } = await axios.get(
                "https://maps.googleapis.com/maps/api/geocode/json?latlng=" +
                lat +
                "," +
                long +
                "&key=AIzaSyCaq-YHmrD587YO0qfxw4Bvc8u8hiHTZ_A"
            );
            if (data.error_message) {
                console.log(data.error_message)
            } else {
                this.address = data.results[0].formatted_address;
            }
        } catch (error) {
            console.log(error.message);
        }
    }
    }
};
</script>