<template>
    <q-page class="q-pa-md">
        <div class="q-pa-md q-gutter-sm">
            <q-breadcrumbs>
            <q-breadcrumbs-el icon="home" to="/" />
            <q-breadcrumbs-el label="User Location" icon="navigation" />
            </q-breadcrumbs>
        </div>
        <list-header
            bgColor="bg-orange-4"
            >User Location
        </list-header>
        <q-layout
            container
            class="shadow-2 rounded-borders mapLayout"
        >
        <Map></Map>
        </q-layout>
    </q-page>
</template>

<script>
import axios from 'axios'
import { mapState, mapActions, mapGetters } from 'vuex'
import Map from 'components/mapping/userlocations/googlemap'
export default {
    components: {
        Map,
        'list-header' : require('components/Shared/ListHeader.vue').default
    }
    
}
</script>
<style lang="sass">
.mapLayout
    height: 400px
</style>