<template>
	<div id="app">
    <header class="header">
      <q-item>
          <q-item-label
          style="width:100%"
          >
            <gmap-autocomplete
            @place_changed="setPlace"
            style="width:80%; padding:8px;margin:2px;"
            >
            </gmap-autocomplete>
            <q-btn size="12px" round color="red" icon="my_location" @click="addMarker"/>
            <!-- <button @click="addMarker">Add</button> -->
          </q-item-label>
      </q-item>
    </header>
		<div id="map" ref="map">

      <map-marker
        :key="index"
        v-for="(m, index) in $store.state.store.mapmarkers"
        :lat="m.position.lat"
        :lng="m.position.lng"
      >
      </map-marker>

     
      <map-marker
        :key="index"
        v-for="(m, index) in markers"
        :lat="m.position.lat"
        :lng="m.position.lng"
        >
      </map-marker>
     <map-info-window
      :key="index"
      v-for="(m, index) in markers"
      :lat="m.position.lat"
      :lng="m.position.lng"
      >
      <img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png"/>
      </map-info-window>
      <!--
      <img
					src="https://1.bp.blogspot.com/_S2Wkv5XI8JI/TUL5MbRnT-I/AAAAAAAAACA/g8V_yjojceA/s1600/woot.jpg"
					height="100px"
				/>
      </map-info-window> -->
			<!-- <map-info-window :lat="-22.344" :lng="128.036">
				<img
					src="https://1.bp.blogspot.com/_S2Wkv5XI8JI/TUL5MbRnT-I/AAAAAAAAACA/g8V_yjojceA/s1600/woot.jpg"
					height="100px"
				/>
			</map-info-window> -->
		</div>
	</div>
</template>



<script>
import gmapsInit from 'src/utils/mapping/gmaps.js';
import MapMarker from 'components/mapping/google/mapmarker';
import MapInfoWindow from 'components/mapping/google/mapinfowindow';
import { mapState, mapActions, mapGetters } from 'vuex'

//https://medium.com/@xon5/vue-google-maps-c16da293c71
export default {
		components: {
			MapMarker,
			MapInfoWindow
    },
    computed: {
      ...mapGetters('store', ['getmapmarkers'])
    },

		 data: () => ({
       map: null,
       places: [],
       markers: [{
         position: {
          lat: 51.28304,
          lng: -0.74468
        }
       }],
       userLocation: [],
       return() {
         userLocation: []
       }
		 }),
		methods: {
      ...mapActions('store', ['firebaseGetMarkers']),
      //Fetch Data
      fetchData() {
      if (!("geolocation" in navigator)) {
        this.errorStr = "Geolocation is not available.";
        return;
      }
      console.log('fetch Data fired')
      navigator.geolocation.watchPosition(
        pos => {
            const marker = {
            position: {
              lat: pos.coords.latitude,
              lng: pos.coords.longitude
            }}
          //this.userLocation = marker
          this.marker.position.lat = marker.position.lat
          this.marker.position.lng = marker.position.lng
          //console.log('changed position User Lat: ' + marker.position.lat)
          //console.log('changed position User Lng: ' + marker.position.lng)
          //console.log('userLocation watch: ' + this.userLocation)
        });

        navigator.geolocation.getCurrentPosition(
        pos => {
            const marker = {
            position: {
              lat: pos.coords.latitude,
              lng: pos.coords.longitude
            }}
          //this.userLocation = marker
          this.marker.position.lat = marker.position.lat
          this.marker.position.lng = marker.position.lng
          //console.log('get current position User Lat: ' + marker.position.lat)
          //console.log('get current position User Lng: ' + marker.position.lng)
          //console.log('userLocation get current: ' + this.userLocation)
        });


    },
			getMap(callback) {
				let vm = this
				function checkForMap() {
					if (vm.map) callback(vm.map)
					else setTimeout(checkForMap, 200)
				}
				checkForMap()
      },
       setPlace(place) {
      this.currentPlace = place;
    },
     addMarker() {
      if (this.currentPlace) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng()
        };
        this.markers.push({ position: marker });
        this.places.push(this.currentPlace);
        this.center = marker;
        this.currentPlace = null;
      }
    },
    processMarkers: function(){
      let markersArray = this.firebaseGetMarkers()
        console.log('this.store.state.store.mapmarkers: ' + this.$store.state.store.mapmarkers)

        let storeMapMarkers = this.$store.state.store.mapmarkers
        let currentComponent = this;

         markersarray.forEach(function (value, i) {
              let newPosition = { position: { lat: value.position.lat, lng: value.position.lng }}

            const marker = {
                lat: value.position.lat,
                lng: value.position.lng
            };

            currentComponent.markers.push({ position: marker });
         });

        console.log('processMarker this ' + this)
    },
		},
		mounted() {
			this.map = new window.google.maps.Map(this.$refs["map"], {
				center: { lat: 51.28304, lng: -0.74468 },
				zoom: 12
      })
      this.fetchData()
    },
    async created() {
    //this.fetchData();
    console.log('created fired')
       let self = this;
    // channel.presence.subscribe("update", function(presenceMsg) {
    //   console.log(presenceMsg)
    //   console.log(
    //     "Received a " + presenceMsg.action + " from " + presenceMsg.clientId
    //   );
    //   channel.presence.get(function(err, members) {
    //     console.log(members)
    //     self.markers = members.map(mem => {
    //       if (JSON.stringify(self.userlocation) == JSON.stringify(mem.data)) {
    //         return {
    //           ...mem.data,
    //           icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
    //         };
    //       } else {
    //         return {
    //           ...mem.data,
    //           icon: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
    //         };
    //       }
    //     });
    //     self.onlineUsers = members;
    //     console.log(
    //       "There are now " + members.length + " clients present on this channel"
    //     );
    //   });
    // });
  },

    
  }
  </script>


<style scoped>
	#map {
		height: 600px;
		background: gray;
	}
</style>