<template>
	<div class="row q-mb-sm">
    <q-input
    	outlined
    	:value="image"
    	@input="$emit('update:image', $event)"
    	:rules="[val => !!val || 'Field is required']"
    	autofocus
    	ref="image"
    	label="News Image"
    	class="col">
			<template v-slot:append>
        <q-icon
        	v-if="image"
        	@click="$emit('update:image', '')"
        	name="close"
        	class="cursor-pointer" />
      </template>
    </q-input>
	</div>
</template>

<script>
	export default {
		props: ['image']
	}
</script>