<template>
<q-page class="q-pa-md">
<div class="q-pa-md q-gutter-sm">
        <q-breadcrumbs>
          <q-breadcrumbs-el icon="home" to="/" />
          <q-breadcrumbs-el label="User Mapping - Google Plugin" icon="navigation" />
        </q-breadcrumbs>
</div>
<list-header
            bgColor="bg-orange-4"
            >User Mapping - Google Plugin
</list-header> 
<header class="header">
      <q-item>
          <q-item-label>
            <gmap-autocomplete
            @place_changed="setPlace">
            </gmap-autocomplete>
            <button @click="addMarker">Add</button>
          </q-item-label>
      </q-item>
    </header>
    <q-layout
    container
    class="shadow-2 rounded-borders"
    style="height: 600px"
    >
        <gmap-map
            :center="center"
            :zoom="12"
            style="width:100%;  height: 400px;"
            >
             <gmap-marker
                :key="index"
                v-for="(m, index) in $store.state.store.mapmarkers"
                :position="m.position"
                @click="center=m.position"
                
            ></gmap-marker>

        </gmap-map> 

    </q-layout>

        
    </q-page>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'

 const markersarray = [{
     position: {
       lat: 51.28304,
       lng: -0.74468
     }
   }, {
     position: {
       lat: 51.286442,
       lng: -0.740237
     }
 }];



export default {
  name: "GoogleMap",
  markers: [],
  components: {
    'list-header' : require('components/Shared/ListHeader.vue').default
  },
  data() {
      markers: []
    return {
      center: { lat: 51.28304, lng: -0.74468 },
      markers: [{
        position: {
        lat: 51.28304,
        lng: -0.74468
        }
    }],
      places: [],
      currentPlace: null,
      testmarkers: []
    };
  },
  computed: {
      ...mapGetters('store', ['getmapmarkers']),

      updateMarkers(){
          console.log('updateMarkers computed:' + this)
        return 'stuff'
      }
  },
  mounted() {
    this.geolocate();

    console.log('mounted this ' + this)

     //markers: this.markersarray

     this.processMarker()
  },

  methods: {
    // receives a place object via the autocomplete component
    ...mapActions('store', ['firebaseGetMarkers']),
    getMarkers(){

    },
    setPlace(place) {
      this.currentPlace = place;
    },
    addMarker() {
      if (this.currentPlace) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng()
        };
        this.markers.push({ position: marker });
        this.places.push(this.currentPlace);
        this.center = marker;
        this.currentPlace = null;
      }
    },
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
      });
      console.log('geolocation this ' + this)
    },
    processMarker: function(){

        let markersArray = this.firebaseGetMarkers()
        console.log('this.store.state.store.mapmarkers: ' + this.$store.state.store.mapmarkers)

        let storeMapMarkers = this.$store.state.store.mapmarkers
        let currentComponent = this;

         markersarray.forEach(function (value, i) {
            //  console.log('position number in loop: %d: %s', i, value.position);
            //  console.log('Value position lat: ' + value.position.lat)
            //  console.log('Value position lng: ' + value.position.lng)

              let newPosition = { position: { lat: value.position.lat, lng: value.position.lng }}

            const marker = {
                lat: value.position.lat,
                lng: value.position.lng
            };

            currentComponent.markers.push({ position: marker });
            //console.log('processMarker inline this: ' + currentComponent)
         });

        console.log('processMarker this ' + this)
    }
  }
};
</script>