
<template>
    <q-page class="q-pa-md">
      <div class="q-pa-md q-gutter-sm">
        <q-breadcrumbs>
          <q-breadcrumbs-el icon="home" to="/" />
          <q-breadcrumbs-el label="Google Maps - Raw - TODO" icon="navigation" />
        </q-breadcrumbs>
    </div>
        <div id="app">
            <div id="map" ref="map" class="App">
                <map-marker :lat="51.313669" :lng="-0.737366"></map-marker>
                <!-- <map-info-window :lat="51.313669" :lng="-0.737366">Test 1</map-info-window> -->
            </div>
        </div>
    </q-page>
</template>



<script>
import gmapsInit from 'src/utils/mapping/gmaps.js';
import MapMarker from 'components/mapping/google/mapmarker';
//import MapInfoWindow from 'components/mapping/google/mapinfowindow';
//https://medium.com/@xon5/vue-google-maps-c16da293c71
export default {
  name: 'App',
   components: {
       MapMarker,
	   //MapInfoWindow
   },
   data: () => ({
			map: null
		}),
		methods: {
			getMap(callback) {
				let vm = this
				function checkForMap() {
					if (vm.map) callback(vm.map)
					else setTimeout(checkForMap, 200)
				}
				checkForMap()
			}
		},
		mounted() {
			this.map = new window.google.maps.Map(this.$refs["map"], {
				center: { lat: 51.313669, lng: -0.737366 },
				zoom: 7
			})
		},
    async mounted() {
     try {
       const google = await gmapsInit();
       const geocoder = new google.maps.Geocoder();
       const map = new google.maps.Map(this.$el);

       geocoder.geocode({ address: 'London' }, (results, status) => {
         if (status !== 'OK' || !results[0]) {
           throw new Error(status);
         }

         map.setCenter(results[0].geometry.location);
         map.fitBounds(results[0].geometry.viewport);
       });
     } catch (error) {
       console.error(error);
     }
   },
};
</script>


<style scoped>
	#map {
		height: 600px;
		background: gray;
	}
</style>
