<template>
  <div>
    <header class="header">
      <h1 class="header-title">
        Vue Mapping
      </h1>
    </header>

    <div class="container">
       <ais-instant-search
        :search-client="searchClient"
        :index-name="algoliaIndex"
      >
        <mj-map />
    </ais-instant-search>

      
    </div>
  </div>
</template>

<script>
import L from 'leaflet';
import algoliasearch from 'algoliasearch/lite';
import 'instantsearch.css/themes/algolia-min.css';
import { AisInstantSearch } from 'vue-instantsearch'

//Icon known bug fix
import { icon, Marker } from 'leaflet';
const iconRetinaUrl = 'assets/marker-icon-2x.png';
const iconUrl = 'assets/marker-icon.png';
const shadowUrl = 'assets/marker-shadow.png';
const iconDefault = icon({
  iconRetinaUrl,
  iconUrl,
  shadowUrl,
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  tooltipAnchor: [16, -28],
  shadowSize: [41, 41]
});
Marker.prototype.options.icon = iconDefault;

const ALGOLIA_APP_ID = "4QVWEDIE1A";
const ALGOLIA_SEARCH_ONLY_API_KEY = "95d54ca23af584e71a1128ccb3c51389";
const ALGOLIA_INDEX_NAME = "blackridge_test";

const algoliaClient = algoliasearch(
    ALGOLIA_APP_ID,
    ALGOLIA_SEARCH_ONLY_API_KEY
);
const index = algoliaClient.initIndex(ALGOLIA_INDEX_NAME);

// For this example i Use custom Icons for the markers
// I wasn't able to use default leaflet marker icons somehow...
const iconData = L.icon({
  iconUrl:
    'https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2_hdpi.png',
  iconSize: [20, 30],
});

const fakeData = [
  {
    objectID: 1,
    _geoloc: [51.313669, -0.737366],
    title: 'first marker',
    icon: iconData,
  },
  {
    objectID: 2,
    _geoloc: [51.299590, -0.774690],
    title: 'second marker',
    icon: iconData,
  },
  {
    objectID: 3,
    _geoloc: [51.283040, -0.744680],
    title: 'third marker',
    icon: iconData,
  },
];

const searchClient = {
  search(requests) {
    if (requests.every(({ params }) => !params.query)) {
      console.log('fake data');
      return Promise.resolve({
        results: requests.map(() => ({
          // we use fake data to test this app
          hits: fakeData,
          nbHits: 2,
          processingTimeMS: 0,
        })),
      });
    }
    return algoliaClient.search(requests);
  },
};

export default {
  components: { 
    'mj-map' : require('components/Mapping/Map.vue').default,
    AisInstantSearch
    },
  data() {
    return {
      algoliaIndex: ALGOLIA_INDEX_NAME,
      //searchClient: algoliaClient,
      searchClient
      
    };
  },
  mounted() {
    console.log("real data:" + this.algoliaClient.hits)
  }
};
</script>

<style>
body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.ais-Highlight-highlighted {
  background: cyan;
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, #051937, #008793);
  color: #fff;
  margin-bottom: 1rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-title::after {
  content: ' ▸ ';
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

#autosuggest input {
  font: inherit;
}

.autosuggest__results-container {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.autosuggest__results-container ul {
  margin: 0;
  padding: 0;
}

.autosuggest__results_item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  list-style-type: none;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.autosuggest__results_item img {
  height: 3em;
}

.autosuggest__results_item-highlighted {
  background-color: rgba(0, 0, 0, 0.24);
}

.ais-Hits-item img {
  max-width: 100%;
}
</style>
