<template>
    <q-page class="q-pa-md">
        <div class="q-pa-md q-gutter-sm">
            <q-breadcrumbs>
            <q-breadcrumbs-el icon="home" to="/" />
            <q-breadcrumbs-el label="Firestore Test" icon="navigation" />
            </q-breadcrumbs>
        </div>
        <q-layout
        container
        class="shadow-2 rounded-borders"
        style="height: 600px"
        >

        <!-- <test-collection
            :testCollection="testCollection"
        /> -->

        <test-object
            :testObject="testObject"
        />

        </q-layout>
    </q-page>
</template>

<script>
import { firestoreDb } from 'boot/firebase'
import axios from 'axios'
import { mapState, mapActions, mapGetters } from 'vuex'
//https://medium.com/@art.longbottom.jr/how-to-connect-vue-js-d0cb9bf3d696

export default {
    data() {
    return {
      testCollection: [],
      testObject:  {
          id: '',
          data: ''
      }
    }
    },
    components: {
        //'test-collection' : require('components/FireStore/TestCollection.vue').default,
        'test-object' : require('components/FireStore/TestObject.vue').default
    },
    methods: {
        ...mapActions('store', ['fireStoreHelloWorld'])
    },
    mounted() {

        //clear the collection first
        this.testCollection = []
        const db =  firestoreDb
        .collection('test')
        const internalCollection = [];

         db
         .onSnapshot((testRef) => {
             const internalArray = [];
             testRef.forEach((doc) => {

                 internalCollection.push({ [doc.id]: doc.data() });

                 this.testObject.id = [doc.id]
                 this.testObject.data = doc.data()
                 console.log('id: ' + doc.id)
             });
             this.testCollection = internalCollection
         })

        //this.fireStoreHelloWorld()
        //this.testCollection = this.$store.state.testCollection
    }
    
}
</script>