<template>
    <q-item>

    <q-item-section>
        <q-item-label>
                {{ hotdog.name}}
        </q-item-label>
    </q-item-section>

    <q-item-section>
    <q-item-label>
                {{ hotdog.isKosher}}
    </q-item-label>
    </q-item-section>

    <q-item-section>
    <q-item-label>
                {{ hotdog.location}}
    </q-item-label>
    </q-item-section>

    <q-item-section>
    <q-item-label>
                {{ hotdog.website}}
    </q-item-label>
    </q-item-section>

    <q-item-section>
    <q-item-label>
                {{ hotdog.style }}
    </q-item-label>
    </q-item-section>

    </q-item>
</template>
<script>
export default {
    props: ['hotdog']
    // mounted() {
    //     console.log('Hot dog component fired')
    // } 
}
</script>