<template>
    <q-page class="q-pa-md">
        <div class="q-pa-md q-gutter-sm">
            <q-breadcrumbs>
            <q-breadcrumbs-el icon="home" to="/" />
            <q-breadcrumbs-el label="GraphQL Google Functions Example" icon="navigation" />
            </q-breadcrumbs>
        </div>
    <list-header
            bgColor="bg-orange-4"
            >GraphQl Example Call - Google function call
    </list-header>
        <q-table
            title="Hotdog restaurants pulled from GraphQL"
            :data="hotdogs"
            :columns="columns"
            row-key="name"
            dense
            class="my-sticky-header-table"
        /> 

        <!-- <hotdog-store
        v-for="hotdog in hotdogs"
        :key="hotdog.name"
        :hotdog="hotdog"
        >

        </hotdog-store> -->

        <!-- <div v-for="p in products"
        :key="p.name">
        Name: {{ p.name }}

        </div> -->

        
    </q-page>
</template>

<script>
import { gql } from "apollo-boost";

export default {
    data() {
        return {
            columns:[
                {
                    name: 'name',
                    required: true,
                    label: 'Name',
                    align: 'left',
                    field: row => row.name,
                    format: val => `${val}`,
                    sortable: true
                },
                    
                    { name: 'location', label: 'location', field: row => row.location, sortable: true },
                    // { name: 'website', label: 'website', field: row => row.website },
                    { name: 'style', label: 'style', field: row => row.style }
            ],
            
        }
    },
    apollo: {
        hotdogs: gql`query 
        {
            hotdogs {
                name
                isKosher
                location
                website
                style
            }
        }`,
        products: gql`query
        {
            products {
                name
                description
                image
            }
        }`
    },
    components: {
        'list-header' : require('components/Shared/ListHeader.vue').default,
        //'hotdog-store' : require('components/HotDogStores/HotDogStore.vue')
    }

}
</script>
<style lang="sass">
.my-sticky-header-table
  /* height or max-height is important */
  height: 310px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #c1f4cd

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>