<template>
  <q-page class="q-pa-lg page-width">
      <div class="full-width">
        <list-header
			    bgColor="bg-orange-4"
			   >Route Details Test Header
        </list-header> 
        <q-list
        separator
        bordered
        >
         <route-task
            v-for="(route, key) in addresses"
			    :address="route"
          :roadname="roadname"
        	:key="key"
        >
        </route-task>
        </q-list>

      </div>
  </q-page>
</template>

<script>
  import { firestoreDb } from 'boot/firebase'
  import axios from 'axios'
	import { mapGetters, mapActions } from 'vuex'
import router from '../../../router'

	export default {
    data(){
      addresses : []
      routesCollection : []
      roadname: ''
      return {
        routesCollection: [],
        addresses: []
        
      }
    },
    props: ['route'],
		components: {
            'list-header' : require('components/Shared/ListHeader.vue').default,
            'route-task' : require('components/Routing/RouteTasks/RouteTask.vue').default
    },
    mounted(){

      this.routesCollection = []

        const db =  firestoreDb
        let $vm = this;
       
      //.doc('XKsAko8WTYHivNDU7SO8')
      //console.log('routeid: ' + this.route.id)
      console.log('roadname ' + this.route.RouteName)
      const routeId = this.route.id
      $vm.roadname = this.route.RouteName

      //  let cityRef = db.collection('Routes')
      //  .doc('' + routeId + '')
      //   let getDoc = cityRef.get()
      //     .then(doc => {
      //       if (!doc.exists) {
      //         console.log('No such document!');
      //       } else {
      //         //console.log('Document data:', doc.data());

      //       }
      //     })
      //     .catch(err => {
      //       console.log('Error getting document', err);
      //     });

      
      const internalCollection = [];

      let addressesRef = db.collection('Routes')
          .doc('' + routeId + '')
          .collection('addresses')
          .orderBy('address')
          .get()
          .then(function(querySnapshot){

              querySnapshot.forEach(function(doc) {

              const address = {}
              address.id = [doc.id]
              address.housenumber = doc.data().address
              address.completed = doc.data().completed

              $vm.addresses.push(address)

            });
          
          })
    }

    
	}
</script>

<style lang="sass" scoped>
.page-width
  width: 600px

	
</style>