<template>
    <div class="row bg-green-1">
        <div class="column">
            <q-btn 
            @click.stop="completeAllAddresses()"
            flat 
            label="Complete All" 
            color="primary" 
            />
        </div>
    </div>
</template>
<script>
export default {
    methods: {
        completeAllAddresses() {
            console.log('complete all addresses fired')
        }
    }
    
}
</script>