<template>
    <div class="q-mt-lg">
        <list-header
			bgColor="bg-green-4">Completed
        </list-header>
        <q-list
        separator
        bordered
        >
        
        <route-task
            v-for="(route, key) in routeTasksCompleted"
		  :address="route"
          :roadname="roadname"
          :routeid="route.routeid"
          :key="key"
        >
        </route-task>

        </q-list>
    </div>
</template>
<script>
export default {
    props: ['routeTasksCompleted', 'roadname'],
    components: {
        'list-header' : require('components/Shared/ListHeader.vue').default,
        'route-task' : require('components/Routing/RouteTasks/RouteTask.vue').default
    }
}
</script>