<template>
    <q-item
    @click="!address.completed ? promptToComplete(address.id, address.routeid, !address.completed) : ''"
    :class="!address.completed ? 'bg-orange-1' : 'bg-green-1'"
    clickable
    v-ripple
    >
     <q-item-section side top>
      <q-checkbox
       v-model="address.completed" 
       class="no-pointer-events"
       />
    </q-item-section>

    <q-item-section>
      <q-item-label
        :class="{ 'text-strikethrough' : address.completed}"
      >
        
      </q-item-label>
      <q-item-label>
      	        <!-- @click="promptToComplete(address.id, address.routeid, !address.completed)" -->
      </q-item-label>
    </q-item-section>

    <q-item-section side>
    <div class="row">
        <div class="column justify-center Edit">
            <q-item-label>
      	        {{ address.housenumber }}
            </q-item-label>
        </div>
        <div class="column justify-center">
            <q-item-label>
      	        {{ roadname }}
            </q-item-label>
        </div>
    </div>
    </q-item-section>
    <q-item-section side>
      <div class="row">
        <q-btn
            @click.stop="showProcessesAddress = true"
            flat
            round
            dense
            color="primary"
            icon="edit" />

      </div>
    </q-item-section>

    <q-dialog v-model="showProcessesAddress">
      <q-card>
        <q-card-section class="q-pt-none Dialog">
          <edit-route-task 
          @close="showProcessesAddress = false" 
          :address="address"
          :id="address.id" /> 
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Close" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    </q-item>
</template>
<script>
import { firestoreDb } from 'boot/firebase'
export default {
    props: ['address', 'roadname', 'routeid'],
    data(){
        return {
            showProcessesAddress: false,
            val: true
        }
    },
    components: {
        'edit-route-task': require('components/Routing/Modals/EditRouteTask.vue').default
    },
    methods: {
      promptToComplete(id, routeid, completed) {
        this.$q.dialog({
          title: 'Confirm complete address',
          message: 'Is there anything left to complete? This cannot be undone.',
          ok: {
            push: true
          },
          cancel: {
            color: 'negative'
          },
          persistent: true
        }).onOk(() => {
          //console.log('addressID: ' + id + ' routeID ' + routeid)
          if(id !== ''){
            if(routeid !== ''){
              
              //this.completeAddress(id, routeid)
              const docRef = firestoreDb
              .collection('Routes')
              .doc('' + routeid + '')
              .collection('addresses')
              .doc('' + id + '')
              .update({
                completed: true
              })
            }
          }
          
        })
      },
      toggleCompletion(id, routeid, completed){
          if(id !== ''){
              if(routeid !== ''){
                if(completed !== ''){
                    console.log('fire toggle completion')
                  let completedStatus = completed

                  if(completedStatus == false){
                    completedStatus = true
                  }

                    console.log('completed status: ' + completedStatus)
                  
                  const docRef = firestoreDb
                  .collection('Routes')
                  .doc('' + routeid + '')
                  .collection('addresses')
                  .doc('' + id + '')
                  .update({
                    completed: true
                  })
                  
                }
              }
          }
      } 
    }
}
</script>
<style lang="sass">
.Edit
  margin: 20px
.Dialog
  margin: 20px
</style>