<template>
	<q-card>
    
    <modal-header>Edit News</modal-header>

		<form @submit.prevent="submitForm">
	    <q-card-section>
	    	
	    	<modal-news-name 
	    		:subText.sync="newsToSubmit.subText"
	    		ref="modalNewsName" />
            <modal-news-details
                :mainText.sync="newsToSubmit.mainText"
                ref="modalNewsDetails"
             />
			 <modal-news-image
			 	:image.sync="newsToSubmit.image"
				 ref="modalNewsImage"
			 />

	    </q-card-section>

			<modal-buttons></modal-buttons>	    

		</form>

  </q-card>
</template>
<script>
	import { mapActions } from 'vuex'

	export default {
		props: ['newsitem', 'id'],
		data() {
			return {
				newsToSubmit: {}
			}
		},
		methods: {
			...mapActions('store', ['updateNews']),
			submitForm() {
				this.$refs.modalNewsName.$refs.subText.validate()
				if (!this.$refs.modalNewsName.$refs.subText.hasError) {
					this.submitNews()
				}
			},
			submitNews() {
				this.updateNews({
					id: this.id,
					updates: this.newsToSubmit
				})
				this.$emit('close')
			},
			clearDueDate() {
				this.newsToSubmit.dueDate = ''
				this.newsToSubmit.dueTime = ''
			}
		},
		components: {
			'modal-header': require('components/News/Modals/Shared/ModalHeader.vue').default,
            'modal-news-name': require('components/News/Modals/Shared/ModalNewsName.vue').default,
			'modal-news-details': require('components/News/Modals/Shared/ModalNewsDetails.vue').default,
			'modal-news-image' : require('components/News/Modals/Shared/ModalNewsImage.vue').default,
			'modal-buttons': require('components/Tasks/Modals/Shared/ModalButtons.vue').default,
		},
		mounted() {
			//console.log('Mounted NewsItem: ' + this.newsitem)
			this.newsToSubmit = Object.assign({}, this.newsitem)
		}
	}
</script>