<template>
	<div>
		<list-header
			bgColor="bg-orange-4"
			>News Items</list-header>

		<q-list 
			separator
			bordered>
              <newsitem
                v-for="(newsitem, key) in newsitems" 
                :key="key" 
                :newsitem="newsitem"
                :id="key"
              >

              </newsitem>

		</q-list>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'

	export default {
        computed: {
    },
		props: ['newsitems'],
		components: {
			'newsitem' : require('components/News/News.vue').default,
			'list-header' : require('components/Shared/ListHeader.vue').default,
		}
	}
</script>