<template>
    <q-item 
    class="bg-green-1"
    clickable
    v-ripple>
         <q-item-section>
             <q-item-label>
                 Title : {{ newsitem.subText }} 
             </q-item-label>
        </q-item-section> 

        <q-item-section side>
            <div class="row">
                <div class="column justify-center">
                    <q-btn
                    @click.stop="showEditNews = true"
                    flat
                    round
                    dense
                    color="primary"
                    icon="edit" />
                    <q-btn
                    @click.stop="promptToDelete(id)"
                    flat
                    round
                    dense
                    color="red"
                    icon="delete" />
                </div>
            </div>

        </q-item-section>

        <q-dialog v-model="showEditNews">
        <edit-news 
            @close="showEditNews = false" 
            :newsitem="newsitem"
            :id="id" />
    </q-dialog>
    </q-item>
</template>
<script>
import { mapActions } from 'vuex'

export default {
    props: ['newsitem', 'id'],
    data() {
        return {
            showEditNews: false
        }
    },
    methods: {
        ...mapActions('store' ['updateNews'])
    },
    components: {
        'edit-news': require('components/News/EditNews.vue').default
    }
    
}
</script>