<template>
    <q-page class="q-pa-md">
        <div class="q-pa-md q-gutter-sm">
          <q-breadcrumbs>
            <q-breadcrumbs-el icon="home" to="/" />
            <q-breadcrumbs-el label="Assigned Rounds" icon="navigation" />
          </q-breadcrumbs>
        </div>
        <list-header
            bgColor="bg-orange-4"
            >My Assigned Rounds</list-header>
            <q-list
            separator
            bordered
            >
            <round
            v-for="(round, key) in roundsCollection"
            :key="key"
            :round="round"
            ></round>

            </q-list> 
    </q-page>
</template>
<script>
import { firestoreDb, firebaseRoot } from 'boot/firebase'
export default {
    data() {
        roundsCollection: []
        return {
            roundsCollection: []
        }
    },
    components: {
        'list-header' : require('components/Shared/ListHeader.vue').default,
        'round' : require('components/Routing/Rounds/Round.vue').default
    },
    mounted(){
        const internalRounds = []

        const db =  firestoreDb
        let $vm = this;
        const firebase = firebaseRoot
        let userId = firebase.auth().currentUser.uid

        console.log('userid: ' + userId)

        //iKtxorc1upY2vHGDpFNIHPph12n1
        //User Rounds
        let userRoundsRef = db.collection('UserRounds')
            .doc('' + userId + '')
            .collection('Rounds')
            .get()
            .then(snapshot => {
                snapshot.forEach(document => {
                    
                    console.log('RoundId: ' + document.data().RoundId)
                     const assignedRound = {}
                     assignedRound.roundid = document.data().RoundId
                     assignedRound.roundName = document.data().RoundName
                    
                     $vm.roundsCollection.push(assignedRound)

                })
            }).catch(err => {
                console.log('Error getting document', err)
            })
    }
    
}
</script>