<template>
  <q-page class="q-pa-md">
        <div class="q-pa-md q-gutter-sm">
          <q-breadcrumbs>
            <q-breadcrumbs-el icon="home" to="/" />
            <q-breadcrumbs-el label="Assigned Routes" icon="navigation" to="/routes-todo" />
            <q-breadcrumbs-el label="Route Address Details" icon="build" />
          </q-breadcrumbs>
      </div>
        <list-header
			    bgColor="bg-orange-4"
			   >
          {{ this.roadname }} 
         Route Details
        </list-header> 
        <q-list
          separator
          bordered
          >
          <route-task-admin-header>
          </route-task-admin-header>

          <no-route-tasks
          v-if="!Object.keys(addresses).length"
          >
          </no-route-tasks>

          
          <route-task
              v-for="(route, key) in addresses"
            :address="route"
            :roadname="roadname"
            :routeid="route.routeid"
            :key="key"
          >
          </route-task>

          <route-tasks-completed
            :routeTasksCompleted="addressesCompleted" 
            :roadname="roadname"     
          >

          </route-tasks-completed>
        </q-list>
  </q-page>
</template>

<script>
  import { firestoreDb } from 'boot/firebase'
  //import axios from 'axios'
	import { mapGetters, mapActions } from 'vuex'


	export default {
    data(){
      addresses : []
      addressesCompleted: []
      routesCollection : []
      roadname: ''
      routeid: ''
      return {
        routesCollection: [],
        addresses: [],
        addressesCompleted: [],
        roadname: '',
        routeid: ''
        
      }
    },
    props: ['route'],
		components: {
            'list-header' : require('components/Shared/ListHeader.vue').default,
            'route-task' : require('components/Routing/RouteTasks/RouteTask.vue').default,
            'route-task-admin-header' : require('components/Routing/RouteTasks/RouteTasksAdminHeader.vue').default,
            'route-tasks-completed' : require('components/Routing/RouteTasks/RouteTasksCompleted.vue').default,
            'no-route-tasks' : require('components/Routing/RouteTasks/NoRouteTasks.vue').default
    },
    mounted(){

      this.routesCollection = []

        const db =  firestoreDb
        let $vm = this;
      //.doc('XKsAko8WTYHivNDU7SO8')
      const routeId = this.$route.params.routeId
      $vm.routeId = routeId

      $vm.roadname = this.$route.params.roadname

      console.log('roadname ' + $vm.roadname)
    
      const internalCollection = [];
      const internalCompleted = [];

        const fsdb = firestoreDb
        .collection('Routes')
        .doc('' + routeId + '')
        .collection('addresses').orderBy('address')
        fsdb
        .onSnapshot((docRef) => {

          //Clear all the collections
          internalCollection.length = 0
          internalCompleted.length = 0
          $vm.addressesCompleted.length = 0
          $vm.addresses.length = 0

          docRef.forEach((doc) => {

                const address = {}
                address.id = [doc.id]
                address.housenumber = doc.data().address
                address.completed = doc.data().completed
                address.routeid = routeId//$vm.routeId 

                //console.log('routeId ' + routeId)
                console.log('doc ref foreach fired in mounted')

                if(!address.completed){

                  internalCollection.push(address)
                  $vm.addresses = internalCollection
                }

                if(address.completed){
                    internalCompleted.push(address)
                    $vm.addressesCompleted = internalCompleted
                }

          })

        })







    }

    
	}
</script>

<style lang="sass" scoped>
.page-width
  width: 600px

	
</style>