
<template>

    <routes-collection
        :routesCollection="testCollection"
    />
   
</template>
<script>
import { firestoreDb } from 'boot/firebase'
import axios from 'axios'
import { mapState, mapActions, mapGetters } from 'vuex'
//https://medium.com/@art.longbottom.jr/how-to-connect-vue-js-d0cb9bf3d696
//https://medium.com/mayeedwin/firebase-cloud-firestore-web-codelab-e6ebde2ebede

export default {
    data() {
    return {
      testCollection: [],
      testObject:  {
          id: '',
          data: '',
          routeName: ''
      }
    }
    },
    components: {
        'routes-collection' : require('components/Routing/RoutesCollection.vue').default,
        //'test-object' : require('components/FireStore/TestObject.vue').default
    },
    methods: {
        ...mapActions('store', ['fireStoreHelloWorld'])
    },
    mounted() {

        //clear the collection first
        this.testCollection = []
   

         const db =  firestoreDb
         .collection('Routes')
         const internalCollection = [];

          db
          .onSnapshot((testRef) => {
              const internalArray = [];
              testRef.forEach((doc) => {

                  //internalCollection.push({ [doc.id]: doc.data() });

                  const Route = {}
                  Route.id = [doc.id]
                  Route.RouteName = doc.data().RouteName

                  console.log('Route Name: ' + Route.RouteName)

                  internalCollection.push(Route)
                  //const Route = doc.data()
                  //console.log('Route Name: ' + Route.RouteName)

                  //this.testObject.id = [doc.id]
                  //this.testObject.data = doc.data()
                  //console.log('id: ' + doc.id)
              });
              this.testCollection = internalCollection
          })

        //this.fireStoreHelloWorld()
        //this.testCollection = this.$store.state.testCollection
    }
    
}
</script>