<template>
  <q-page class="q-pa-md">
        <div class="q-pa-md q-gutter-sm">
          <q-breadcrumbs>
            <q-breadcrumbs-el icon="home" to="/" />
            <q-breadcrumbs-el label="Assigned Routes" icon="navigation" />
          </q-breadcrumbs>
      </div>
        <list-header
            bgColor="bg-orange-4"
            >Assigned Routes</list-header> 
        <q-list
            separator
            bordered
            >
            <route
                  v-for="(route, key) in routesCollection"
                  :route="route"
                  :key="key"
                  :id="key"
            >
            </route>
        </q-list>

        <routes-completed
        v-if="Object.keys(routesCompleted).length"
        :routescompleted="routesCompleted"
        ></routes-completed>
      

  </q-page>
</template>

<script>
//https://medium.com/@art.longbottom.jr/how-to-connect-vue-js-d0cb9bf3d696
//https://medium.com/mayeedwin/firebase-cloud-firestore-web-codelab-e6ebde2ebede

    import { firestoreDb } from 'boot/firebase'
    import axios from 'axios'
	import { mapGetters, mapActions } from 'vuex'

	export default {
		data() {
            routesCollection: []
            routesCompleted: []
			return {
                showAddTask: false,
                routesCollection: [],
                routesCompleted: [],
                testObject:  {
                    id: '',
                    data: '',
                    routeName: ''
                }
			}
		},
		computed: {
			//...mapGetters('store', [ 'tasksCompleted',  'tasksFromState'])
		},
		methods: {
			//...mapActions('store', ['firebaseGetTasks'])
		},
		mounted() {
            
        this.routesCollection = []
        let $vm = this;

         const db =  firestoreDb
         .collection('Routes')
         const internalCollection = [];
         const internalCompleted = [];
          db
          .onSnapshot((testRef) => {
              const internalArray = [];
              //clear the internal collection here
              internalCollection.length = 0
              internalCompleted.length = 0

              testRef.forEach((doc) => {

                  const Route = {}
                  Route.id = [doc.id]
                  Route.RouteName = doc.data().RouteName
                  Route.completed = doc.data().completed

                  if(!Route.completed){
                    internalCollection.push(Route)
                  }
                
                  if(Route.completed){
                      internalCompleted.push(Route)
                     $vm.routesCompleted = internalCompleted
                  }
                  

              });

              //Clear the routes collection on an update situation
              this.routesCollection = []
              this.routesCollection = internalCollection

          })

          

          this.$forceUpdate()

		},
		components: {
            'route' : require('components/Routing/Route.vue').default,
            'list-header' : require('components/Shared/ListHeader.vue').default,
            'routes-completed' : require('components/Routing/RoutesCompleted.vue').default
		}
	}
</script>

<style>
	
</style>