<template>
<q-form @submit="submitForm" v-on:submit.prevent="submitForm" class="full-width">
  <div class="q-pa-md">
    <q-layout
    v-for="(newsItemDetails, key) in newsDetails"
    :key="key" 
    view="lHh lpr lFf" 
    container 
    style="height: 400px" 
    class="shadow-2 rounded-borders">
      <q-header elevated>
        <q-toolbar>
          <q-avatar>
            <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg">
          </q-avatar>

          <q-toolbar-title>
            {{ newsItemDetails.subText }}
          </q-toolbar-title>

          <q-btn flat round dense icon="whatshot" />
        </q-toolbar>
      </q-header>

      <q-page-container>
        <q-page padding>
           <div class="q-pa-md q-gutter-sm">
            <q-input
              filled
              :value="newsItemDetails.subText"
              
              label="News Item Title *"
              @input="updateForm"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Please type something']"
            />
            </div>
                 <div class="q-pa-md q-gutter-sm">
          <q-editor
           
           :value="newsItemDetails.mainText"

           min-height="5rem" 
           />

          <q-card flat bordered>
            <q-card-section>
              <pre style="white-space: pre-line">{{ formData.mainText }}</pre>
            </q-card-section>
          </q-card>

          <q-card flat bordered>
            <q-card-section v-html="formData.mainText" />
          </q-card>

          <q-card>

            <div>
              <q-btn
              round 
              dense 
              flat 
              @click="submitForm" 
              type="submit" 
              color="black" 
              icon="send" />
            </div>
          </q-card>

        </div>      
        </q-page>
      </q-page-container>
    </q-layout>
  </div>
</q-form>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import mixinGetNewsDetails from 'src/mixins/mixin-get-news-details.js'

export default {
    data(){
        return{
            formData:{
                mainText: '',
                title: ''
            }
        }
    },
    mixins: [mixinGetNewsDetails],
    methods: {
        ...mapActions('store', ['users', 'getNewsItemDetails', 'updateNewsItem', 'updateNewsItemDetailTitleById']),
        submitForm(){
            this.updateNewsItemDetailTitleById({
                newsId: this.$route.params.newsId,
                title: this.formData.mainText,
                mainText: this.formData.mainText,
                image: 'image'
            })
        },
        updateForm(e){
        
        console.log('Update Title e: ' + e)
        let output = this.getNewsItemDetails(this.$route.params.newsId)
        console.log('pagenewsitems: ' + output)
        console.log('NewsId update Title: ' + this.$route.params.newsId)

            this.updateNewsItemDetailTitleById({
                newsId: this.$route.params.newsId,
                title: e,
                mainText: this.formData.mainText,
                image: 'image'
            })
        }
    },
    mounted(){
        //this.getNewsItemDetails(this.$route.params.newsId)
        let output = this.getNewsItemDetails(this.$route.params.newsId)
        console.log('pagenewsitems: ' + output)
        console.log('NewsId mounted: ' + this.$route.params.newsId)
    }

}
</script>