<template>
    <q-form @submit="submitForm" class="full-width">
      
      <!-- <q-input
        v-model="formData.text"
        bg-color="white"
        outlined
        rounded
        label="New Blog"/> -->
      <div class="q-pa-md q-gutter-sm">
            <q-input
              filled
              v-model="formData.title"
              label="News Item Title *"
              
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Please type something']"
            />
      </div>
      
      <div class="q-pa-md q-gutter-sm">
        <div class="q-pa-md q-gutter-sm">
          <q-editor v-model="formData.mainText" min-height="5rem" />

          <q-card flat bordered>
            <q-card-section>
              <pre style="white-space: pre-line">{{ formData.mainText }}</pre>
            </q-card-section>
          </q-card>

          <q-card flat bordered>
            <q-card-section v-html="formData.mainText" />
          </q-card>

          <q-card>

            <div>
              <q-btn
              round 
              dense 
              flat 
              @click="submitForm" 
              type="submit" 
              color="black" 
              icon="send" />
            </div>
          </q-card>

        </div> 


      </div>
      

        <template v-slot:after>
          <q-btn
           round 
           dense 
           flat 
           @click="submitForm" 
           type="submit" 
           color="white" 
           icon="send" />
        </template>
    </q-form>
</template>
<script>
import Post from "src/store/models/Post";
import { mapState, mapActions, mapGetters } from 'vuex'

export default {
  data() {
    return {
      formData: {
        mainText: '',
        title: ''
      },
      editor: ''
    };
  },
  computed: {
    //...mapState('store', ['userDetails']),
    //...mapGetters('store', ['users'])
  },
  methods: {
    ...mapActions('store', ['addBlogPost']),
    submitForm() {
      this.addBlogPost({
        newsitem:{
          mainText: this.formData.mainText,
          subText: this.formData.title,
          image: ''
        }
      });
    }
  }
};
</script>