<template>
  <q-page class="q-pa-md">
    <div class="q-pa-md q-gutter-sm">
        <q-breadcrumbs>
          <q-breadcrumbs-el icon="home" to="/" />
          <q-breadcrumbs-el label="news List" icon="navigation" />
        </q-breadcrumbs>
    </div>

    <list-header
            bgColor="bg-orange-4"
            >News List
    </list-header> 
    <q-list 
    separator 
    bordered
    class="full-width">
      <q-item
      v-for="(newsitem, key) in newsitems" 
      :key="key" 
      :to="'/news-detail/' + key"
      clickable
      v-ripple>
        <q-item-section avatar>
          <q-avatar color="primary" text-color="white">
            {{ newsitem.mainText.charAt(0) }}
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label>{{ newsitem.subText }}</q-item-label>
          
        </q-item-section>
        <q-item-section>
          <q-item-label>
              <q-img 
              :src="newsitem.image"
              style="height:30px"           >
              </q-img>
              </q-item-label>
          </q-item-section>
      </q-item>
    </q-list>
  </q-page>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {

    computed: {
      ...mapGetters('store', ['users', 'newsitems'])
    },
    methods: {
        ...mapActions('store', ['firebaseGetNewsItems'])
    },
    mounted(){
        this.firebaseGetNewsItems()
    },
    components: {
      'list-header' : require('components/Shared/ListHeader.vue').default
    }
}
</script>
<style>
</style>