<template>
  <q-page>
    <q-card class="full-width">
      <q-separator />
      <news-edit/>
    </q-card>
  </q-page>
</template>

<script>
//import Post from 'src/store/models/Post'
import { mapState, mapActions, mapGetters } from 'vuex'

export default {
    data () {
	    return {
	      tab: 'login'
	    }
	  },
	  components: {
	  	'news-edit' : require('components/EditNews.vue').default
	  }
}
</script>