<template>
  <q-page class="q-pa-md">
    <div class="q-pa-md q-gutter-sm">
        <q-breadcrumbs>
          <q-breadcrumbs-el icon="home" to="/" />
          <q-breadcrumbs-el label="News Edit List" icon="navigation" />
        </q-breadcrumbs>
    </div>
  <newsitems-to-edit
  v-if="Object.keys(newsitems).length"
    :newsitems="newsitems"
   />
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    computed: {
      ...mapGetters('store', ['newsitems'])
    },
    components: {
        'newsitems-to-edit' : require('components/News/NewsItemsToEdit.vue').default,
        
    }
}
</script>
<style>
</style>