<template>
<q-page class="flex q-pa-nd">

<q-list separator class="full-width">
<q-item
 v-for="(newsItemDetails, key) in newsDetails"
 :key="key"
 v-ripple>
<q-item-section>
    <q-item-label>
        {{ newsItemDetails.mainText }}
    </q-item-label>
</q-item-section>

<q-item-section>
    <q-item-label>
        {{ newsItemDetails.subText }}
    </q-item-label>
</q-item-section>
    <q-item-section>
    <q-item-label>
        <q-img
        :src="newsItemDetails.image"
        style="height:30px"
        ></q-img>

    </q-item-label>
</q-item-section>

</q-item>

</q-list>
</q-page>

</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import mixinGetNewsDetails from 'src/mixins/mixin-get-news-details.js'

export default {
    mixins: [mixinGetNewsDetails],
    methods: {
        ...mapActions('store', ['users', 'getNewsItemDetails'])
    },
    mounted(){
        //this.getNewsItemDetails(this.$route.params.newsId)
        let output = this.getNewsItemDetails(this.$route.params.newsId)
        console.log('pagenewsitems: ' + output)
        //this.$route.params.newsId
    }

}
</script>