<template>
  <div class="q-pa-md">
    <div class="q-pa-md q-gutter-sm">
            <q-breadcrumbs>
            <q-breadcrumbs-el icon="home" to="/" />
            <q-breadcrumbs-el label="News List" to="/news-list"
            
            icon="navigation" />
            <q-breadcrumbs-el 
            label="News Detail" 
            icon="navigation" />
            </q-breadcrumbs>
        </div>
    <q-layout
    v-for="(newsItemDetails, key) in newsDetails"
    :key="key" 
    view="lHh lpr lFf" 
    container 
    style="height: 400px" 
    class="shadow-2 rounded-borders">
      <q-header elevated>
        <q-toolbar>
          <q-avatar>
            <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg">
          </q-avatar>

          <q-toolbar-title>
            {{ newsItemDetails.subText }}
          </q-toolbar-title>

          <q-btn 
          flat 
          round 
          dense 
          icon="whatshot"
          :key="key" 
          :to="'/news-edit/' + key"
          clickable
          />
        </q-toolbar>
      </q-header>

      <q-page-container>
        <q-page padding>
            <q-img
            :src="newsItemDetails.image"
            style="height:30px">
            </q-img>
          
          <span v-html="newsItemDetails.mainText"></span>
          <br>
          
        </q-page>
      </q-page-container>
    </q-layout>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import mixinGetNewsDetails from 'src/mixins/mixin-get-news-details.js'

export default {
    mixins: [mixinGetNewsDetails],
    methods: {
        ...mapActions('store', ['users', 'getNewsItemDetails'])
    },
    mounted(){
        //this.getNewsItemDetails(this.$route.params.newsId)
        let output = this.getNewsItemDetails(this.$route.params.newsId)
        console.log('pagenewsitems: ' + output)
        //this.$route.params.newsId
    }

}
</script>