<template>
  <q-page class="q-pa-md">
    <div class="q-pa-md q-gutter-sm">
        <q-breadcrumbs>
          <q-breadcrumbs-el icon="home" to="/" />
          <q-breadcrumbs-el label="Post News Item" icon="navigation" />
        </q-breadcrumbs>
    </div>
    <list-header
            bgColor="bg-orange-4"
            >Post News Item</list-header> 
    <q-card class="full-width">
      <q-separator />
      <blog-post/>
    </q-card>
  </q-page>
</template>

<script>
import Post from 'src/store/models/Post'
import { mapState, mapActions, mapGetters } from 'vuex'

export default {
    data () {
	    return {
	      tab: 'login'
	    }
	  },
	  components: {
      'blog-post' : require('components/PostBlog.vue').default,
      'list-header' : require('components/Shared/ListHeader.vue').default
	  }
}
</script>