<template>
    <q-card>
        <modal-header>Edit Route Address Task</modal-header>
        <form @submit.prevent="submitForm">
        <q-card-section>

        <modal-route-address-number
            :housenumber.sync="address.housenumber"
            ref="modalAddressNumber"
        />

        </q-card-section>
        <modal-buttons></modal-buttons>	  
        </form>
    </q-card>
</template>
<script>
import { mapActions } from 'vuex'

export default {

props: ['routetask', 'id', 'address'],
data(){
    return {
        addressToUpdate: {}
    }
},
methods: {
    submitForm(){
            this.$refs.modalAddressNumber.$refs.housenumber.validate()
            {
                if(!this.$refs.modalAddressNumber.$refs.housenumber.hasError){
                    console.log('Fire Update')
                    this.submitAddress()
                }
            }
    },
    submitAddress() {
        //Fire Update Address Method
        this.$emit('close')

    }
},
components: {
    'modal-header': require('components/Routing/Modals/Shared/ModalHeader.vue').default,
    'modal-buttons': require('components/Routing/Modals/Shared/ModalButtons.vue').default,
    'modal-route-address-number': require('components/Routing/Modals/ModalRouteAddressNumber.vue').default
},
mounted(){

    this.addressToUpdate = Object.assign({}, this.routetask)
}
}
</script>