<template>
	<div class="row q-mb-sm">
    <q-input
    	outlined
    	:value="housenumber"
    	@input="$emit('update:housenumber', $event)"
    	:rules="[val => !!val || 'Field is required']"
    	autofocus
    	ref="housenumber"
    	label="House Number"
    	class="col">
			<template v-slot:append>
        <q-icon
        	v-if="housenumber"
        	@click="$emit('update:housenumber', '')"
        	name="close"
        	class="cursor-pointer" />
      </template>
    </q-input>
	</div>
</template>

<script>
	export default {
		props: ['housenumber']
	}
</script>