<template>
  <q-layout 
  view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar class="bg-purple">
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
        <q-btn
        v-if="$route.fullPath.includes('/chat')"
        v-go-back.single
        color="primary" 
        icon="arrow_back"
        label="Back" />
        <q-toolbar-title class="absolute-center">
          {{ title }}
        </q-toolbar-title>

        <q-btn
        v-if="!userDetails.userId"
        to="/auth"
        no-caps
        dense 
        color="primary" 
        icon="account_circle" 
        >
        </q-btn>
 
        <q-btn
        v-else
        @click="logoutUser" 
        no-caps
        dense 
        color="primary" 
        icon="account_circle" >
        logout
        </q-btn>
        
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
     <!-- <div id="profile">
        
        <q-img 
        :src="photo"
        style='height: 80px' class="inline-block"
        ></q-img>
        <div id="user-name">
        <span class="text-white"> {{ userDetails.name }} </span>
        <hr>
        <span class="text-white"> {{ email }} </span>
        <hr>
      </div>
      <div id="user-actions">
        <q-btn
        flat
        round
        dense
        icon="edit"
        color="purple"
         />
        <button class="bordered blue small" ><i>person</i></button>
        <button class="bordered blue small" ><i>lock</i></button>
        <button class="bordered blue small" @click='logOut'><i>exit_to_app</i></button>
      </div>
    </div> -->

    <div
        id="profile"
        class="bg-purple" 
    >
    <div id="user-name">
        <span class="username"> {{ userDetails.name }} </span>
        <hr>
        <span class="username"> {{ userDetails.email }} </span>
    </div>
    
    </div>
    

    <div class="q-pa-md q-gutter-md">

    <q-list bordered padding class="rounded-borders" style="max-width: 250px">
      <div class="q-pa-md q-gutter-sm">
        <q-btn to="/" label="Home" outline color="purple" />
      </div>

    <div class="q-pa-md q-gutter-sm">

              <div
              v-if="userDetails.userId">
              
                <q-btn class="q-button" to="/post-news" label="Post News" outline color="purple" /><br>
                <q-btn class="q-button" to="/news-list-edit" label="Edit News List" outline color="purple" /><br>
                <q-btn class="q-button" to="/locations-test" label="Mapping" outline color="purple" /><br>
                <q-btn class="q-button" to="/edit-services" label="Edit Services" outline color="purple" /><br>
                {{ userDetails.name }}
              </div>
              <br>
              
          </div>
      
    </q-list>
  </div>
    </q-drawer>

    <q-footer 
    elevated
    class="bg-purple"
    >
        <q-toolbar
        >
          <q-toolbar-title
          ></q-toolbar-title>

        </q-toolbar>
      </q-footer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink'
//Map the state and the methods (actions from the store file)
import { mapState, mapActions } from 'vuex'
import  mixinOtherUserDetails  from 'src/mixins/mixin-other-user-details.js'


export default {
  mixins: [mixinOtherUserDetails], //Allows data to be shared across pages. Linked from the PageChat page
  computed: {
    ...mapState('store', ['userDetails', 'userPermissions']),
    test(){
      return 'Test'
    },
    title(){
      console.log('full route: ' + this.$route.fullPath)
      let currentPath = this.$route.fullPath
      if(currentPath == '/') return 'Logged in Root Home'
      else if (currentPath == '/splash') return 'Black Ridge Home'
      else if (currentPath.includes('/chat')) return  this.otherUserDetails.name
      else if (currentPath == '/auth') return 'Black Ridge Design Home'
      else if (currentPath == '/sign-up') return 'Register'
      else if (currentPath == '/settings') return 'User Settings'
      else if (currentPath == '/services') return 'Services'
      else if (currentPath == '/services/service-detail') return 'Service Details'
      else if (currentPath == '/alerts') return 'Alerts'
      else if (currentPath == '/user-services') return 'User Services'
      else if (currentPath == '/post-news') return 'Post News'
      else if (currentPath == '/news-list') return 'News'
      else if (currentPath == '/news-list-edit') return 'News Edit List'
      else if (currentPath.includes('news-detail')) return 'News Detail'
      else if (currentPath.includes('news-edit')) return 'Edit News'
      else if (currentPath.includes('tasks')) return 'Tasks'
      else if (currentPath.includes('locations')) return 'Locations'
      else if (currentPath == '/user-location') return 'Get User Location'
      else if (currentPath == '/firestore') return 'FireStore Test'
      else if (currentPath == '/route-list') return 'Route List'
      else if (currentPath == '/routes-todo') return 'Route List'
      else if (currentPath.includes('route-addresses')) return 'Processes Addresses'
      else if (currentPath == '/graphql-hotdog') return 'GraphQl Query Demo'
      else if (currentPath == '/admin/admin-dashboard') return 'Admin Dashboard'
      return 'Title'
    }
  },
  name: 'AdminLayout',
  methods: {
    ...mapActions('store', ['logoutUser']),
    linkClick (e, go) {
      e.navigate = false // we choose when we navigate

      // console.log('triggering navigation in 3s')
      setTimeout(() => {
        // console.log('navigating as promised 3s ago')
        go()
      }, 3000)
    },

    buttonProps ({ href, route, isActive, isExactActive }) {
      const props = {
        color: 'black',
        noCaps: true,
        label: `To "${route.fullPath}"`,
        outline: true,
        to: href
      }

      if (isActive === true) {
        props.color = isExactActive === true ? 'primary' : 'amber-9'
      }
      else {
        props.color = 'black'
      }

      return props
    }
  },

  components: {
    //EssentialLink
  },
    data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: [
        {
          title: 'User Services',
          caption: 'User Services',
          icon: 'school',
          link: '#/user-services'
        },
        {
          title: 'Facebook',
          caption: '@QuasarFramework',
          icon: 'public',
          link: 'https://facebook.quasar.dev'
        }
      ]
    }
  },
  mounted() {

    let userDetailsFromStore = this.$store.state.store.userDetails
    //console.log('User Details Role' + userDetailsFromStore.userId)


  }
}
</script>
<style lang="stylus" scoped>
 .username
    color: white

 .fixed-bottom
    margin-bottom : 1px 

..fixed-bottom a img 
    width : 25px
    height : 25px

    
#user-name
    left : 90px
    bottom: 77px
    
    
 #profile
    height : 130px
    background-color : #009688
    padding : 10px
   
</style>