<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
        <q-btn
        v-if="$route.fullPath.includes('/chat')"
        v-go-back.single
        color="primary" 
        icon="arrow_back"
        label="Back" />
        <q-toolbar-title class="absolute-center">
          {{ title }}
        </q-toolbar-title>

        <q-btn
        v-if="!userDetails.userId"
        to="/auth"
        no-caps
        dense 
        color="primary" 
        icon="account_circle" 
        >
        </q-btn>
 
        <q-btn
        v-else
        @click="logoutUser" 
        no-caps
        dense 
        color="primary" 
        icon="account_circle" >
        logout
        </q-btn>
        
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <!-- <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          Essential Links
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
        
      </q-list> -->

    <div class="q-pa-md q-gutter-md">
    <q-list bordered padding class="rounded-borders" style="max-width: 250px">
      <div class="q-pa-md q-gutter-sm">
        <q-btn to="/" label="Home" outline color="purple" />
      </div>

    <div class="q-pa-md q-gutter-sm">

              <div
              v-if="userDetails.userId"
              >
              <q-btn class="q-button" to="/user-services" label="User Services" outline color="purple" /><br>             
              <q-btn class="q-button" to="/alerts" label="Alerts" outline color="purple" /><br>
              <q-btn class="q-button" to="/settings" label="Settings" outline color="purple" /><br>              
              <q-btn class="q-button" to="/news-list" label="News List" outline color="purple" /><br>           
              <q-btn class="q-button" to="/tasks" label="Tasks" outline color="purple" /><br>
              <!-- <q-btn class="q-button" to="/locations-test-google-raw" label="Google Raw" outline color="purple" /><br> -->
              <q-btn class="q-button" to="/graphql-hotdog" label="Hotdog QL" outline color="purple" /><br>
              <q-btn class="q-button" to="/user-location" label="User Location" outline color="purple" /><br>
              <!-- <q-btn class="q-button" to="/firestore" label="FireStore Test" outline color="purple" /><br> -->
              <!-- <q-btn class="q-button" to="/route-list" label="Route List" outline color="purple" /><br> -->
              <q-btn class="q-button" to="/rounds-todo" label="Rounds ToDo" outline color="purple" />
              <div
               v-if="userPermissions.userRole == 'admin'">

                <q-btn class="q-button" to="/admin/admin-dashboard" label="Admin" outline color="purple" /><br>
                <q-btn class="q-button" to="/post-news" label="Post News" outline color="purple" /><br>
                <q-btn class="q-button" to="/news-list-edit" label="Edit News List" outline color="purple" /><br>
                <q-btn class="q-button" to="/locations-test" label="Mapping" outline color="purple" /><br>
                <q-btn class="q-button" to="/edit-services" label="Edit Services" outline color="purple" /><br>
              </div>
              <q-btn class="q-button" to="/routes-todo" label="Routes To Do" outline color="purple" />
              </div>
              <br>
              
          </div>
      
    </q-list>
  </div>
    </q-drawer>

    <q-footer 
    elevated>
        <q-toolbar
        >
          <q-toolbar-title
          ></q-toolbar-title>

        </q-toolbar>
      </q-footer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink'
//Map the state and the methods (actions from the store file)
import { mapState, mapActions } from 'vuex'
import  mixinOtherUserDetails  from 'src/mixins/mixin-other-user-details.js'


export default {
  mixins: [mixinOtherUserDetails], //Allows data to be shared across pages. Linked from the PageChat page
  computed: {
    ...mapState('store', ['userDetails', 'userPermissions']),
    test(){
      return 'Test'
    },
    title(){
      console.log('full route: ' + this.$route.fullPath)
      let currentPath = this.$route.fullPath
      if(currentPath == '/') return 'Logged in Root Home'
      else if (currentPath == '/splash') return 'Black Ridge Home'
      else if (currentPath.includes('/chat')) return  this.otherUserDetails.name
      else if (currentPath == '/auth') return 'Black Ridge Design Home'
      else if (currentPath == '/sign-up') return 'Register'
      else if (currentPath == '/settings') return 'User Settings'
      else if (currentPath == '/services') return 'Services'
      else if (currentPath == '/services/service-detail') return 'Service Details'
      else if (currentPath == '/alerts') return 'Alerts'
      else if (currentPath == '/user-services') return 'User Services'
      else if (currentPath == '/post-news') return 'Post News'
      else if (currentPath == '/news-list') return 'News'
      else if (currentPath == '/news-list-edit') return 'News Edit List'
      else if (currentPath.includes('news-detail')) return 'News Detail'
      else if (currentPath.includes('news-edit')) return 'Edit News'
      else if (currentPath.includes('tasks')) return 'Tasks'
      else if (currentPath.includes('locations')) return 'Locations'
      else if (currentPath == '/user-location') return 'Get User Location'
      else if (currentPath == '/firestore') return 'FireStore Test'
      else if (currentPath == '/route-list') return 'Route List'
      else if (currentPath == '/routes-todo') return 'Route List'
      else if (currentPath.includes('route-addresses')) return 'Processes Addresses'
      else if (currentPath == '/graphql-hotdog') return 'GraphQl Query Demo'
      else if (currentPath == '/rounds-todo') return 'Rounds allocated'
      return 'Title'
    }
  },
  name: 'MainLayout',
  methods: {
    ...mapActions('store', ['logoutUser']),
    linkClick (e, go) {
      e.navigate = false // we choose when we navigate

      // console.log('triggering navigation in 3s')
      setTimeout(() => {
        // console.log('navigating as promised 3s ago')
        go()
      }, 3000)
    },

    buttonProps ({ href, route, isActive, isExactActive }) {
      const props = {
        color: 'black',
        noCaps: true,
        label: `To "${route.fullPath}"`,
        outline: true,
        to: href
      }

      if (isActive === true) {
        props.color = isExactActive === true ? 'primary' : 'amber-9'
      }
      else {
        props.color = 'black'
      }

      return props
    }
  },

  components: {
    //EssentialLink
  },
    data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: [
        {
          title: 'User Services',
          caption: 'User Services',
          icon: 'school',
          link: '#/user-services'
        },
        {
          title: 'Facebook',
          caption: '@QuasarFramework',
          icon: 'public',
          link: 'https://facebook.quasar.dev'
        }
      ]
    }
  },
  mounted() {

    let userDetailsFromStore = this.$store.state.store.userDetails
    //console.log('User Details Role' + userDetailsFromStore.userId)


  }
}
</script>
<style lang="stylus">
 .q-toolbar
    .q-btn
      line-height: 1.2
  .q-button
      margin: 2px
</style>
