<template>
<div>
<list-header
            bgColor="bg-orange-4"
            >Completed Routes</list-header> 
<q-list
    separator
    bordered
>
    <route
            v-for="(route, key) in routescompleted"
            :route="route"
            :key="key"
            :id="key"
    >
    </route>

</q-list>
</div>
</template>
<script>
export default {
    props: ['routescompleted'],
    components: {
        'list-header' : require('components/Shared/ListHeader.vue').default,
        'route' : require('components/Routing/Route.vue').default
    }
}
</script>