<template>
    <div>
		<list-header
			bgColor="bg-orange-4"
			>Assigned Routes
		</list-header>

		<q-list
		separator
		bordered>
			<q-item class="bg-orange-1"
				clickable
				v-ripple>
				<q-item-section
				side
				>


					<div class="row"
					:key="item.key" 
					:id="item.key"
					v-for="item in routesCollection"
					>
					<div class="column justify-center">
						<q-icon 
							name="event"
							size="35px"
							class="q-mr-xs" />
					</div>
						<div class="column">
							<q-item-label
								class="row justify-end"
								caption>
							<large>{{ item.RouteName }}</large>
							</q-item-label>
						</div>
					</div>
				</q-item-section>


		</q-item>
	</q-list>
	</div>
</template>
<script>

export default {
    props: ['routesCollection'],
    components: {

			'list-header' : require('components/Shared/ListHeader.vue').default,
	}
}
</script>