<template>
    <q-item
    clickable
  	v-ripple
    >
    <q-item-section side top>
        <div class="q-gutter-sm">
          <q-checkbox
          v-model="route.completed" />
        </div>
    </q-item-section>

    <q-item-section>
      <q-item-label
      	class="txt-strikethrough">
      	{{ route.RouteName }}
      </q-item-label>
    </q-item-section>

    <q-item-section 
      
      side>
    	<div class="row">
        <div class="column">
          <q-btn 
          flat 
          round 
          dense 
          icon="whatshot"
          
          :to="'/route-addresses/' + route.RouteName + '/' + route.id"
          clickable
          />
        </div>
	    	<div class="column">
          <q-item-label 
          	class="row justify-end"
          	caption>
          	Due Date
          </q-item-label>
          <q-item-label
          	class="row justify-end"
          	caption>
          	<small>Due Date</small>
          </q-item-label>
	    	</div>
    	</div>
    </q-item-section>

    <!-- <q-item-section side>
      <div class="row">
         <q-btn
          @click.stop="showProcessRoute = true"
          flat
          round
          dense
          color="primary"
          icon="edit" />
      </div>
    </q-item-section> -->

    <q-dialog v-model="showProcessRoute">
      <routetasklist
        @close="showProcessRoute = false" 
        :route="route"
        :id="id"
        />
      <q-card-actions align="right" class="bg-white text-teal">
          <q-btn flat label="OK" v-close-popup />
        </q-card-actions>
    </q-dialog>
    </q-item>
</template>
<script>
import { mapActions } from 'vuex'

export default {
    props: ['route', 'id'],
    data() {
      return {
        showProcessRoute: false
      }
    },
    methods: {

    },
    components: {
         'routetasklist' : require('components/Routing/RouteTasks/RouteTaskList.vue').default
    } 
}
</script>