<template>
      <div>
        <list-header
            bgColor="bg-orange-4"
            >Assigned Routes</list-header> 
        <q-list
            separator
            bordered
            >
            <route
                  v-for="(route, key) in routestodo"
                  :route="route"
                  :key="key"
                  :id="key"
            >
            </route>
        </q-list>
      </div>
</template>

<script>
	import { mapGetters, mapActions } from 'vuex'

	export default {
        props: ['routestodo'],
		components: {
            'list-header' : require('components/Shared/ListHeader.vue').default,
            'route' : require('components/Routing/Route.vue').default
		}
	}
</script>

<style>
	
</style>