<template>
 <q-page class="flex q-pa-nd">
  <div class="q-pa-md">
    <q-table
      style="height: 400px"
      title="Services"
      :data="data"
      :columns="columns"
      row-key="name"
      virtual-scroll
      :pagination.sync="pagination"
      :rows-per-page-options="[0]"
    />
  </div>
    
 </q-page>
</template>

<script>
const seed = [
  {
    id: 1,
    name: 'Housing',
    contactNumber: '08911 092002'
  },
  {
    id: 2,
    name: 'Waste Removal',
    contactNumber: '08911 092002'
  },
  {
    id: 3,
    name: 'Healthcare',
    contactNumber: '08911 092002'
  },
  {
    id: 4,
    name: 'Policing',
    contactNumber: '08911 092002'
  },
  {
    id: 5,
    name: 'School',
    contactNumber: '08911 092002'
  },
  {
    id: 7,
    name: 'Universities',
    contactNumber: '08911 092002'
    },
  {
    id: 8,
    name: 'Trade',
    contactNumber: '08911 092002'
  },
  {
    id: 9,
    name: 'Manufacturing',
    contactNumber: '08911 092002'
  },
  {
    id: 10,
    name: 'Business Development',
    contactNumber: '08911 092002'
   },
  {
    id: 11,
    name: 'Mining',
    contactNumber: '08911 092002'
  }
]

// we generate lots of rows here
let data = []
for (let i = 0; i < 1000; i++) {
  data = data.concat(seed.slice(0).map(r => ({ ...r })))
}
data.forEach((row, index) => {
  row.index = index
})

// we are not going to change this array,
// so why not freeze it to avoid Vue adding overhead
// with state change detection
Object.freeze(data)

export default {
  data () {
    return {
      data,
      current: 3,
      pagination: {
        rowsPerPage: 0
      },

      columns: [
        //{
          //name: 'index',
          //label: '#',
          //field: 'index'
        //},
        {
          name: 'name',
          required: true,
          label: 'Service Name',
          align: 'left',
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'contact number', align: 'center', label: 'Contact number', field: 'contactNumber', sortable: true }
        //{ name: 'fat', label: 'Fat (g)', field: 'fat', sortable: true }
        //{ name: 'calcium', label: 'Calcium (%)', field: 'calcium', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
        //{ name: 'iron', label: 'Iron (%)', field: 'iron', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) }
      ]
    }
  }
}
</script>