<template>
  <q-page class="q-pa-md">
    <div class="q-pa-md q-gutter-sm">
        <q-breadcrumbs>
          <q-breadcrumbs-el icon="home" to="/" />
          <q-breadcrumbs-el label="Edit User Services" icon="navigation" />
        </q-breadcrumbs>
    </div>

  <services-to-edit
  v-if="Object.keys(services).length"
    :services="services"
   />
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    computed: {
      ...mapGetters('store', ['services'])
    },
    components: {
        'services-to-edit' : require('components/Services/ServicesToEdit.vue').default
    }
}
</script>
<style>
</style>