<template>
  <q-page class="q-pa-md">
    <div class="q-pa-md q-gutter-sm">
        <q-breadcrumbs>
          <q-breadcrumbs-el icon="home" to="/" />
          <q-breadcrumbs-el label="User Services" icon="navigation" />
        </q-breadcrumbs>
    </div>
    <list-header
            bgColor="bg-orange-4"
            >User Services
    </list-header> 
    <q-list 
    separator
    bordered 
    class="full-width">
      <q-item 
      v-for="(service, key) in services" 
      :key="key" 
      :to="'/services/service-detail/' + key"
      clickable
      v-ripple>
        
        <q-item-section>
          <q-item-label>{{ service.name }}</q-item-label>
          
        </q-item-section>

      </q-item>
    </q-list>
    <div class="q-pa-lg flex flex-center">
    <!-- <q-pagination
      v-model="services"
      :max="1"
    >
    </q-pagination> -->
  </div>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    computed: {
      ...mapGetters('store', ['services'])
    },
    components: {
       'list-header' : require('components/Shared/ListHeader.vue').default
    }
}
</script>
<style>
</style>