<template>
	<q-card>
    
    <modal-header>Edit Service</modal-header>

		<form @submit.prevent="submitForm">
	    <q-card-section>
	    	
	    	<modal-service-name 
	    		:name.sync="serviceToSubmit.name"
	    		ref="modalServiceName" />
            <modal-service-details
                :details.sync="serviceToSubmit.details"
                ref="modalServiceDetails"
             />

	    </q-card-section>

			<modal-buttons></modal-buttons>	    

		</form>

  </q-card>
</template>
<script>
	import { mapActions } from 'vuex'

	export default {
		props: ['service', 'id'],
		data() {
			return {
				serviceToSubmit: {}
			}
		},
		methods: {
			...mapActions('store', ['updateService']),
			submitForm() {
				this.$refs.modalServiceName.$refs.name.validate()
				if (!this.$refs.modalServiceName.$refs.name.hasError) {
					this.submitService()
				}
			},
			submitService() {
				this.updateService({
					id: this.id,
					updates: this.serviceToSubmit
				})
				this.$emit('close')
			},
			clearDueDate() {
				this.serviceToSubmit.dueDate = ''
				this.serviceToSubmit.dueTime = ''
			}
		},
		components: {
			'modal-header': require('components/Services/Shared/ModalHeader.vue').default,
            'modal-service-name': require('components/Services/Modals/Shared/ModalServiceName.vue').default,
            'modal-service-details': require('components/Services/Modals/Shared/ModalServiceDetails.vue').default,
			'modal-buttons': require('components/Tasks/Modals/Shared/ModalButtons.vue').default,
		},
		mounted() {
			this.serviceToSubmit = Object.assign({}, this.service)
		}
	}
</script>