<template>
	<div>
		<list-header
			bgColor="bg-orange-4"
			>Services</list-header>

		<q-list 
			separator
			bordered>
              <service
                v-for="(service, key) in services" 
                :key="key" 
                :service="service"
                :id="key"
              >

              </service>

		</q-list>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'

	export default {
        computed: {
      //...mapGetters('store', ['services'])
    },
		props: ['services'],
		components: {
			'service' : require('components/Services/Service.vue').default,
			'list-header' : require('components/Shared/ListHeader.vue').default,
		}
	}
</script>