<template>
    <q-item 
    class="bg-green-1"
    clickable
    v-ripple>
         <q-item-section>
             <q-item-label>
                 {{ service.name }}
             </q-item-label>
        </q-item-section> 

        <q-item-section side>
            <div class="row">
                <div class="column justify-center">
                    <q-btn
                    @click.stop="showEditService = true"
                    flat
                    round
                    dense
                    color="primary"
                    icon="edit" />
                    <q-btn
                    @click.stop="promptToDelete(id)"
                    flat
                    round
                    dense
                    color="red"
                    icon="delete" />
                </div>
            </div>

        </q-item-section>

        <q-dialog v-model="showEditService">
        <edit-service 
            @close="showEditService = false" 
            :service="service"
            :id="id" />
    </q-dialog>
    </q-item>
</template>
<script>
import { mapActions } from 'vuex'

export default {
    props: ['service', 'id'],
    data() {
        return {
            showEditService: false
        }
    },
    methods: {
        ...mapActions('store' ['updateService'])
    },
    components: {
        'edit-service': require('components/Services/Modals/EditService.vue').default
    }
    
}
</script>