<template>
  <q-page class="flex q-pa-md">
    <q-card class="full-width">
    <div class="q-pa-md">
        <q-carousel
          arrows
          animated
          v-model="slide"
          height="400px"
        >
          <q-carousel-slide name="first" img-src="https://cdn.quasar.dev/img/mountains.jpg">
            <div class="absolute-bottom custom-caption">
              <div class="text-h2">Black Ridge Design Solutions</div>
              <div class="text-subtitle1">Reach the heights</div>
            </div>
          </q-carousel-slide>
          <q-carousel-slide name="second" img-src="https://cdn.quasar.dev/img/parallax1.jpg">
            <div class="absolute-bottom custom-caption">
              <div class="text-h2">What we do</div>
              <div class="text-subtitle1">Navigate the technology</div>
            </div>
          </q-carousel-slide>
          <q-carousel-slide name="third" img-src="https://cdn.quasar.dev/img/parallax2.jpg">
            <div class="absolute-bottom custom-caption">
              <div class="text-h2">Mobile Apps</div>
              <div class="text-subtitle1">Bridge the gaps</div>
            </div>
          </q-carousel-slide>
        </q-carousel>
      </div>
    </q-card>

  	<q-card class="full-width">
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="login" label="Login with email" />
        <q-tab name="register" label="Register with email" />
        <q-tab name="social" label="Social Media" />
      </q-tabs>

      <q-separator />

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="login">
          <login-register :tab="tab" />
        </q-tab-panel>

        <q-tab-panel name="register">
          <login-register :tab="tab" />
        </q-tab-panel>

        <q-tab-panel name="social">

          <q-btn
          color="primary"
          to="/sign-up" 
          label="Create Account" />
          <br><br>
          <q-btn
          color="primary"
          type="submit"
          @click="LoginWithGoogle"
          label="Login with Google"
        />

        </q-tab-panel>

      </q-tab-panels>
    </q-card>
  </q-page>
</template>

<script>
import { firebaseRoot, firebaseDb } from 'boot/firebase';
	export default {
	  data () {
	    return {
        tab: 'login',
        slide: 'first'
	    }
    },
    methods: {
      LoginWithGoogle: function() {
        const firebase = firebaseRoot
        const provider = new firebase.auth.GoogleAuthProvider()

        firebase.auth().signInWithPopup(provider)
        .then((result) => {

          
            let userId = firebase.auth().currentUser.uid

            // console.log('Logged in User From Google: ' + result.user)
            // console.log('display name' + result.user.displayName)
            // console.log('Logged in UserID ' + userId)
            // console.log('Name' + result.user)
            // console.log('email: ' + result.user.email)

            firebaseDb.ref('users/' + userId).set({
                name: result.user.displayName,
                email: result.user.email,
                online: true
            })

            //console.log('Email' + user.credential.user.)

            // firebaseDb.ref('users/' + userId).set({
            //     name: user.name,
            //     email: user.email,
            //     online: true
            // })

            //add this user to the firebase database
            this.$router.replace('/');
        }).catch((err) => {
            alert('Something went wrong ' + err.message)
        })


      }
    },
	  components: {
	  	'login-register' : require('components/LoginRegister.vue').default
	  }
	}
</script>

<style lang="sass" scoped>
.custom-caption
  text-align: center
  padding: 12px
  color: white
  background-color: rgba(0, 0, 0, .3)
</style>
