<template>
  <q-page class="flex q-pa-nd">
    
    <q-list separator class="full-width">
      <q-item 
      v-for="(user, key) in users" 
      :key="key" 
      :to="'/chat/' + key"
      clickable
      v-ripple>
        <q-item-section avatar>
          <q-avatar color="primary" text-color="white">
            {{ user.name.charAt(0) }}
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label>{{ user.name }}</q-item-label>
          
        </q-item-section>

        <q-item-section side>
          <q-badge 
          :color="user.online ? 'Light-green-5' : 'grey-4'">
          {{ user.online ? 'Online' : 'Offline'}}
          </q-badge>
        </q-item-section>
      </q-item>

      <q-separator />
      <q-item-label header>Offline</q-item-label>

     
    </q-list>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'

export default {

    computed: {
      ...mapGetters('store', ['users'])
    }
}
</script>
<style>
</style>
