<template>
  <q-page class="q-pa-md">
      <div class="q-pa-md q-gutter-sm">
          <q-breadcrumbs>
            <q-breadcrumbs-el icon="home" to="/" />
            <q-breadcrumbs-el label="Login" icon="navigation" to="/auth" />
            <q-breadcrumbs-el label="Assigned Routes" icon="navigation" />
          </q-breadcrumbs>
      </div>
      <list-header
            bgColor="bg-orange-4"
      >Register</list-header> 
    
    <!-- <input type="text" v-model="email" placeholder="Email"><br>
    <input type="password" v-model="password" placeholder="Password"><br>
    <button @click="signUp">Sign Up</button> -->

    <q-btn
        color="primary"
	    type="submit"
        @click="RegisterWithGoogle"
        label="Register"
     />

  </q-page>
</template>

 <script>
  import { firebaseRoot } from 'boot/firebase';

  export default {
    name: 'signUp',
    data() {
      return {
        email: '',
        password: ''
      }
    },
    components: {
        'list-header' : require('components/Shared/ListHeader.vue').default
    },
    methods: {
      RegisterWithGoogle: function() {
        const firebase = firebaseRoot
        const provider = new firebase.auth.GoogleAuthProvider()

        firebase.auth().signInWithPopup(provider)
        .then((user) => {
            console.log(user)
            //add this user to the firebase database
            this.$router.replace('/');
        }).catch((err) => {
            alert('Something went wrong ' + err.message)
        })

      }
    }

  }
</script>
